.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fwbackup
*.pdf
WritingSystems/
*contemporary.lift-ranges
*contemporary.xml
*import-settings.map
FLEX-lexicon-with-sub-entries*.PNG
*.doc
*.docx
*.xls
*.xlsx
*.lift-ranges
basic-vocab-list/**.tsv
basic-vocab-list/valpal**
*.exe
contemporary-enggano-interlinear-text/**ELAN.flextext
contemporary-enggano-interlinear-text/**analysed.flextext
contemporary-enggano-interlinear-text/**xling-3-ORIG.xml
contemporary-enggano-interlinear-text/**xling-3.xml
contemporary-enggano-interlinear-text/**original.txt
contemporary-enggano-interlinear-text/[0-9][0-9]-*
give*
middle*
test_se_*
Enggano-with-examples-for*
BER-_from*
flex-sfm-import-experiment/*.PNG
flex-sfm-import-experiment/format*.db
flex-sfm-import-experiment/subentries-import-*
flex-sfm-import-experiment/import-setting*
flex-sfm-import-experiment/
basic-vocab-list/
lexicon.db
lexicon-sfm-lexeme-based.db
Textbook-dictionary-20241201-no-example*.db
Project*.css